@charset "ISO-8859-1";


#tour_package{
	width: 95%;
}

#customer_id{
	background-image: none !important;
}

.failedMessages{
	float: left;
	width: 100%;
	color: #ff8080;
	font-size: 1.1em;
	text-align: center;
}

.booking_information{
	padding: 0;
	font-family: Calibri;
	font-weight: 600;
}

h2{
	color: #8b7116;
	text-align: center;
}

#display_panel_background{
 	background: #292929;
 	position: absolute;
	width: 100%;
	height: 100%;
 	opacity: 0.4;
	filter: alpha(opacity=40);
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.display_panel{
	color: white;
	z-index: 1000;
	position: relative;
	overflow-y: auto;
	font-family: "Times New Roman", Times, serif;	
	margin: 0em 5em 0em 8em;
	padding: 2em 3em 2em 3em;
	background: none;
	height: 70%;
}


.new_booking{
	float: left;
	width: 50%;
	height: 100%;
}

.section_wrap{
	width: 100%;
	float:left;
	display:inline-block;
}


.new_buttons{
	margin-top: 2.5em;
	float: right;
	color: #313131;
	background: #d1a91e;
	padding: 0.7em 2.7em 0.7em 2.7em;
	font-size: 1.3em;
	font-weight: bold; 
	border: none;
	cursor:pointer;
	box-shadow: 0px 3px 5px #4e4e4e; 
}

.new_buttons:active{
	background: #9c7e16;
	font-size: 1.27em;
}


.new_tags{
	font-family: "Verdana";
	font-family: "Times New Roman", Times, serif;
	color: gray;
	font-size: 1em;	
}

.left_div{
	height: 10em;
	float:left;
	width:70%;
	
	float: left;
}

.right_div{	
	height: 10em;
	float: left;
	width: 30%;
}

.font_choice{
	color: white;
	font-size: 1.1em;	
	font-weight: 500;
	font-family: "Times New Roman", Times, serif;
	background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #937615;
}

.datepicker{
	width: 80%;
	padding: 1em 1em 0.8em 0em;
	border-bottom: 1px solid gray !important;
}

.es-input{
	width: 80%;
	padding: 0 !important;
	height: 3em;
	border-bottom: 1px solid gray !important;
}
.es-list{
	border: none !important;	
	box-shadow: none !important;
	background: transparent !important;
}


.es-list li { 
	color: #cdcdcd;
	font-size: 1.1em;	
	font-weight: 500;
	font-family: "Times New Roman", Times, serif;
	display: block; 
	padding: 5px 10px; 
	margin: 0; }
	
.es-list li.selected { 
	color: #e9cb63;
	background: black !important; 
}
/*
input.es-input { padding-right: 20px !important; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat; }
input.es-input.open {
	-webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; }
.es-list { position: absolute; padding: 0; margin: 0; border: 1px solid #d1d1d1; display: none; z-index: 1000; background: #fff; max-height: 160px; overflow-y: auto;
	-moz-box-shadow: 0 2px 3px #ccc; -webkit-box-shadow: 0 2px 3px #ccc; box-shadow: 0 2px 3px #ccc; }
.es-list li { display: block; padding: 5px 10px; margin: 0; }
.es-list li.selected { background: #f3f3f3; }
.es-list li[disabled] { opacity: .5; }*/


