@charset "ISO-8859-1";

body{
	color: white;
}

.new_booking{
	width: 50%;
}

.new_div{
	width: 100%;
	display: flex;
}

hr{
	width: 100%;
	margin-top: -0.25em;
}

p{
	color: #d1a91e;
	font-size: 0.9em;	
}
.new_textfields{
	flex: 1;
	padding: 0.3em 1.5em 0em 1em;
	font-size: 0.8em;	
    color: white;
    background: none;
    border: none;
    outline: none;
}

.para_div{
	width: 8em; 
	text-align: right;"
}

.datepicker{
	flex: 1;
	padding: 0.3em 1.5em 0em 1em;
	font-size: 0.8em;
	color: white;
	background: none;
	border: none;
	outline: none;
}

.new_dates{
	
	padding: 0.3em 1.5em 0em 1em;
	color: white;
	background: none;
    border: none;
    outline: none;
}

.es-input{
	flex: 1;
	padding: 0.3em 1.5em 0em 1em;
	font-size: 0.8em;
	height: 3em;
	border: none;
	outline: none;
	color: white;
}
.es-list li { 
	border: none;
	background: black;
	color: white;
	display: block; 
	padding: 5px 10px; 
	margin: 0; }
.es-list li.selected { background: gray !important; }
/*
input.es-input { padding-right: 20px !important; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG2YAABzjgAA4DIAAIM2AAB5CAAAxgwAADT6AAAgbL5TJ5gAAABGSURBVHjaYvz//z8DOYCJgUzA0tnZidPK8vJyRpw24pLEpwnuVHRFhDQxMDAwMPz//x+OOzo6/iPz8WFGuocqAAAA//8DAD/sORHYg7kaAAAAAElFTkSuQmCC) right center no-repeat; }
input.es-input.open {
	-webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; border-bottom-right-radius: 0; }
.es-list { position: absolute; padding: 0; margin: 0; border: 1px solid #d1d1d1; display: none; z-index: 1000; background: #fff; max-height: 160px; overflow-y: auto;
	-moz-box-shadow: 0 2px 3px #ccc; -webkit-box-shadow: 0 2px 3px #ccc; box-shadow: 0 2px 3px #ccc; }
.es-list li { display: block; padding: 5px 10px; margin: 0; }
.es-list li.selected { background: #f3f3f3; }
.es-list li[disabled] { opacity: .5; }*/


