<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Explorient Web App</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.login.Login</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginDao</servlet-name>
    <servlet-class>com.login.LoginDao</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>HomepageDao</servlet-name>
    <servlet-class>com.homepage.HomepageDao</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>NewpageDao</servlet-name>
    <servlet-class>com.newpage.NewpageDao</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PassengerDao</servlet-name>
    <servlet-class>com.passenger.PassengerDao</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <context-param>
    <param-name>max.inactive.interval</param-name>
    <param-value>1200</param-value>
  </context-param>
  <context-param>
    <param-name>max.login.cookie.age</param-name>
    <param-value>7776000</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.email.and.password.query</param-name>
    <param-value>SELECT * FROM Users WHERE Email = ? AND BINARY Password = ?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.email.query</param-name>
    <param-value>SELECT * FROM Users WHERE Email = ?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.add.user.query</param-name>
    <param-value>insert into Users (Email, Password, Firstname, Lastname) values (?, ?, ?, ?);</param-value>
  </context-param>
  <context-param>
    <param-name>database.save.nonce.query</param-name>
    <param-value>insert into Nonce (Email, NonceId) values (?, ?);</param-value>
  </context-param>
  <context-param>
    <param-name>database.delete.nonce.query</param-name>
    <param-value>delete from Nonce where NonceId=?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.nonce.query</param-name>
    <param-value>select * from Nonce where NonceId=?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.email.and.nonce.query</param-name>
    <param-value>select * from Nonce where Email=? AND NonceId=?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.email.in.nonce.table.query</param-name>
    <param-value>select * from Nonce where Email=?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.update.nonce.by.email.query</param-name>
    <param-value>UPDATE Nonce SET NonceId = ? WHERE Email = ?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.user.by.email.query</param-name>
    <param-value>select * from Users where Email=?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.agent.query</param-name>
    <param-value>select Agent, Firstname, Lastname from Agents;</param-value>
  </context-param>
  <context-param>
    <param-name>database.check.agent.query</param-name>
    <param-value>select * from Agents where Agent=? and Firstname=? and Lastname=?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.add.booking.query</param-name>
    <param-value>insert into Booking(Agent, Customer_Id, Destination, Air, Departure_Date ,Return_Date, Tour_Package) values (?,?,?,?,?,?,?);</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.destination.query</param-name>
    <param-value>SELECT DISTINCT Destination FROM Booking;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.air.query</param-name>
    <param-value>SELECT DISTINCT Air FROM Booking;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.tour.package.query</param-name>
    <param-value>SELECT DISTINCT Tour_Package FROM Booking;</param-value>
  </context-param>
  <context-param>
    <param-name>database.check.customer.id.query</param-name>
    <param-value>select * from Booking where Customer_Id = ?;</param-value>
  </context-param>
  <context-param>
    <param-name>database.get.customer.id.query</param-name>
    <param-value>select Customer_Id from Booking;</param-value>
  </context-param>
  <context-param>
    <param-name>database.add.passenger.query</param-name>
    <param-value>insert into Passengers(Customer_Id, Title, Firstname, Middlename, Lastname)values(?,?,?,?,?);</param-value>
  </context-param>
  
  <context-param>
    <param-name>database.get.passenger.query</param-name>
    <param-value>select * from Passengers where Customer_Id = ?;</param-value>
  </context-param>
  

  
  <context-param>
    <param-name>session.name</param-name>
    <param-value>Explorient.session</param-value>
  </context-param>
  <context-param>
    <param-name>database.username</param-name>
    <param-value>Richard</param-value>
  </context-param>
  <context-param>
    <param-name>database.password</param-name>
    <param-value>jay.yang.kwak</param-value>
  </context-param>
  <context-param>
    <param-name>database.url</param-name>
    <param-value>jdbc:mysql://db.explorient.com:3306/ExplorientDB</param-value>
  </context-param>
  <context-param>
    <param-name>user.login.email</param-name>
    <param-value>email</param-value>
  </context-param>
  <context-param>
    <param-name>user.login.password</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>register.confirm.password</param-name>
    <param-value>confirm password</param-value>
  </context-param>
  <context-param>
    <param-name>login.failed</param-name>
    <param-value>The email or password is incorrect.</param-value>
  </context-param>
  <context-param>
    <param-name>login.max.lenth.failed</param-name>
    <param-value>Email or password length is invalid.</param-value>
  </context-param>
  <context-param>
    <param-name>max.length</param-name>
    <param-value>64</param-value>
  </context-param>
  <context-param>
    <param-name>login.cookie.name</param-name>
    <param-value>Explorient.email</param-value>
  </context-param>
  <context-param>
    <param-name>register</param-name>
    <param-value>register</param-value>
  </context-param>
  <context-param>
    <param-name>register.failed</param-name>
    <param-value>register.failed</param-value>
  </context-param>
  <context-param>
    <param-name>register.firstname</param-name>
    <param-value>first name</param-value>
  </context-param>
  <context-param>
    <param-name>register.lastname</param-name>
    <param-value>last name</param-value>
  </context-param>
  <context-param>
    <param-name>register.cookie.name</param-name>
    <param-value>Explorient.register</param-value>
  </context-param>
  <context-param>
    <param-name>register.empty.field.message</param-name>
    <param-value>Sorry, can't leave any blank.</param-value>
  </context-param>
  <context-param>
    <param-name>register.email.exist.message</param-name>
    <param-value>Sorry, this email already exists.</param-value>
  </context-param>
  <context-param>
    <param-name>register.invalid.email.message</param-name>
    <param-value>Please enter a valid email.</param-value>
  </context-param>
  <context-param>
    <param-name>register.unmatched.password.message</param-name>
    <param-value>Password and Confirm password do not match.</param-value>
  </context-param>
  <context-param>
    <param-name>register.max.lenth.failed.message</param-name>
    <param-value>Email, password, first name, or last name length invalid.</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.search</param-name>
    <param-value>search</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.booking</param-name>
    <param-value>booking</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.logout</param-name>
    <param-value>log out</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.selected</param-name>
    <param-value>navigation</param-value>
  </context-param>
  <context-param>
    <param-name>css.styling.color.gold</param-name>
    <param-value>color: #e2c04b;</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.profile</param-name>
    <param-value>profile</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.setting</param-name>
    <param-value>setting</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.hotel</param-name>
    <param-value>hotel</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.vendor</param-name>
    <param-value>vendor</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.agent</param-name>
    <param-value>agent</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.passenger</param-name>
    <param-value>passenger</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.new</param-name>
    <param-value>new</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.itinerary</param-name>
    <param-value>itinerary</param-value>
  </context-param>
  <context-param>
    <param-name>homepage.navigation.voucher</param-name>
    <param-value>voucher</param-value>
  </context-param>
  <context-param>
    <param-name>new.agent</param-name>
    <param-value>agent</param-value>
  </context-param>
  <context-param>
    <param-name>new.customer.id</param-name>
    <param-value>customer_id</param-value>
  </context-param>
  <context-param>
    <param-name>new.destination</param-name>
    <param-value>destination</param-value>
  </context-param>
  <context-param>
    <param-name>new.air</param-name>
    <param-value>air</param-value>
  </context-param>
  <context-param>
    <param-name>new.date.of.departure</param-name>
    <param-value>date_of_departure</param-value>
  </context-param>
  <context-param>
    <param-name>new.date.of.return</param-name>
    <param-value>date_of_return</param-value>
  </context-param>
  <context-param>
    <param-name>new.tour.package</param-name>
    <param-value>tour_package</param-value>
  </context-param>
  <context-param>
    <param-name>new.agent.not.found.failed</param-name>
    <param-value>Agent not found.</param-value>
  </context-param>
  <context-param>
    <param-name>new.equal.sign.failed</param-name>
    <param-value>Can't have &quot;=&quot; sign.</param-value>
  </context-param>
  <context-param>
    <param-name>new.empty.field.failed</param-name>
    <param-value>Sorry, can't leave any field blank.</param-value>
  </context-param>
  <context-param>
    <param-name>new.customer.id.exists.failed</param-name>
    <param-value>This customer id already exists.</param-value>
  </context-param>
  <context-param>
    <param-name>new.customer.id.invalid.failed</param-name>
    <param-value>Correct customer id format: &quot;Lastname-Departure Date&quot;.</param-value>
  </context-param>
  <context-param>
    <param-name>new.date.format.invalid.failed</param-name>
    <param-value>Invalid date format.</param-value>
  </context-param>
  <context-param>
    <param-name>new.agent.format.invalid.failed</param-name>
    <param-value>Invalid agent format.</param-value>
  </context-param>
  <context-param>
    <param-name>BookingCreated.add.passenger</param-name>
    <param-value>Add passenger for booking</param-value>
  </context-param>
  <context-param>
    <param-name>BookingCreated.add.shipping.address</param-name>
    <param-value>Add shipping address for booking</param-value>
  </context-param>
  <context-param>
    <param-name>BookingCreated.update.booking</param-name>
    <param-value>Update booking</param-value>
  </context-param>
  <context-param>
    <param-name>passenger.title</param-name>
    <param-value>title</param-value>
  </context-param>
  <context-param>
    <param-name>passenger.middlename</param-name>
    <param-value>middlename</param-value>
  </context-param>
  <context-param>
    <param-name>passenger.empty.field.failed</param-name>
    <param-value>Customer Id, First name, and Last name are required.</param-value>
  </context-param>
  <context-param>
    <param-name>passenger.customer.id.invalid.failed</param-name>
    <param-value>Customer Id doesn't exist.</param-value>
  </context-param>
  
</web-app>


















